'use strict';

const config = {};

// discord token
config.token = '';

// command prefix
config.prefix = '!';

// bot activity
config.activity = { name: '!help v3', options: { url: null, type: null } };

// bot API keys
config.api_keys = {
    youtube: null
};

// servers
config.servers = {
    connect4: new Map(),
    audio: new Map(),
    tictactoe: new Map()
};

// commands
config.commands = new Map();

module.exports = config;